<section>
    <footer>
        <div>Bild von <a
                href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1873831">Pixabay</a>
        </div>
        <div class="links">
            <a href="https://github.com/05Lucia"><img src="./../../assets/img/github.svg" alt="github"></a>
            <a href="https://www.linkedin.com/in/alice-buchholz-91804a226/"><img src="./../../assets/img/linkedin.svg"
                    alt="linkedin"></a>
            <a href="mailto:alice.buchholz@gmail.com"><img src="./assets/img/e-mail.png" alt="Email"></a>
        </div>
        <a routerLink="/impressum" routerLinkActive="active-link">Impressum</a>
    </footer>
</section>