<section>
    <footer>
        <div class="links">
            <a href="https://github.com/05Lucia"><img src="./../../assets/img/github.svg" alt="github"></a>
            <a href="https://www.linkedin.com/in/alice-buchholz-91804a226/"><img src="./../../assets/img/linkedin.svg"
                    alt="linkedin"></a>
            <a href="mailto:alice.buchholz@gmail.com"><img src="./assets/img/e-mail.png" alt="Email"></a>
        </div>
        <a routerLink="/impressum" routerLinkActive="active-link">{{'FOOTER.IMPRINT' | translate}}</a>
    </footer>
</section>