@import './../../styles.scss';

section {
    width: 100%;
    @include dFlex ($jc: center, $ai: center, $g: 0rem);
}

footer {
    width: 100%;
    max-width: 1300px;
    @include dFlex ($jc: space-between, $ai: center, $g: 1rem);
    padding: 1rem;
}

div {
    @include dFlex ($jc: center, $ai: center, $g: 5px);
}

a {
    cursor: pointer;
    color: $main-color2 !important;
    text-decoration: none;
    &:hover {
        color: $main-color1 !important;
    }
}

.links {
    >a{
        >img{
            height: 30px;
            &:hover {
                scale: 1.15;
            }
        }
        
    }
}