<div class="project-wraper">
    <h1>Projekte</h1>
    <div class="project-container">
        @for (project of projectData.projectlist; track project.name; let index = $index) {
        <div class="project-component">
            <div>
                <img src="{{project.img}}" alt="">
            </div>
            <div class="project-text">
                <h2>{{project.name}}</h2>
                <h3>{{project.skils}}</h3>
                <p>{{project.info}}</p>
            </div>
        </div>
        }

    </div>
</div>