<div class="project-wraper">
    <h1>Projekte</h1>
    <div class="project-container">
        @for (project of projectData.projectlist; track project.name; let index = $index) {
        <div class="project-component">
            <div class="project-img-screen">
                <div class="project-img">
                    <img src="{{project.img}}" alt="">
                </div>
                <img src="{{project.frame}}" alt="">
            </div>
            <div class="project-text">
                <h2>{{project.name}}</h2>
                <h3>{{project.skils}}</h3>
                <p>{{project.info}}</p>
                <div>
                    <button href="">Github</button>
                    <button class="bto2"><a href="{{project.link}}">Live test</a></button>
                </div>
            </div>
        </div>
        }

    </div>
</div>