<div class="project-wraper" id="project">
    <h1>Projekte</h1>
    <div class="project-container">
        @for (project of projectData.projectlist; track project.name; let index = $index, even = $even) {
        <div class="project-component" [ngClass]="{'project-class-left': even, 'project-class-right': !even}" [attr.data-aos]="even ? 'fade-right' : 'fade-left'"> 
            <div class="project-img-screen">
                <div class="project-img">
                    <img src="{{project.img}}" alt="">
                </div>
                <img src="{{project.frame}}" alt="">
            </div>
            <div class="project-text">
                <h2>{{project.name}} </h2>
                <h3>{{project.skils}}</h3>
                <p>{{project.info}}</p>
                <div>
                    <a class="bto1" href="{{project.github}}">Github</a>
                    <a class="bto1 bto2" href="{{project.link}}">Live test</a>
                </div>
            </div>
        </div>
        }

    </div>
</div>