@import './../../../styles.scss';

.project-wraper {
    @include dFlex ($jc: center, $ai: center, $g: 5rem);
    flex-direction: column;
    overflow: hidden;
    background-color: $bg2;
    padding: 4rem 1rem;

}

.project-container {
    max-width: 1300px;
    @include dFlex ($jc: center, $ai: center, $g: 6rem);
    flex-direction: column;
}

.project-component {
    @include dFlex ($jc: center, $ai: center, $g: 4rem);
    flex-direction: column;
}

.project-text {
    padding: 0rem 1rem;
    width: 100vw;
    @include dFlex ($jc: center, $ai: center, $g: 2rem);
    flex-direction: column;
    flex-wrap: wrap;
    text-wrap: wrap;
    text-align: center;

    >div {
        @include dFlex ($jc: center, $ai: center, $g: 2rem);
    }
}

.bto2 {
    background-color: $main-color1;

    &:hover {
        background-color: $main-color2;
        border-color: $main-color2;
        color: $bg1;
    }
    
}



.project-img-screen {
    position: relative;
    z-index: 1;

    >img {
        filter: drop-shadow(0px 0px 15px $main-color2);
    }
}

.project-img {
    position: absolute;
    top: 13px;
    left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    >img {
        width: 14.5rem;
        height: 9.5rem;
    }
}

img {
    width: 19rem;
}


h1 {
    font-weight: 500;
    font-size: 4rem;
    color: $main-color1;
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-thickness: 3px;
}

h2 {
    font-weight: 500;
    background-color: $bg1;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 4px solid $main-color1;
    border-radius: 3rem 0%;
}

h3 {
    text-wrap: wrap;
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 750px) {

    .project-text {
        width: 50%;
    }

    .project-class-left {
        flex-direction: row !important;
    }

    .project-class-right {
        flex-direction: row-reverse !important;
    }

    .project-component {
        @include dFlex ($jc: center, $ai: center, $g: 4rem);
    }
}

@media (min-width: 1300px) {
    .project-component {
        @include dFlex ($jc: center, $ai: center, $g: 10rem);
    }
}