<nav>
    <div class="nav-container">
        <a href="#start">Alice Buchholz</a>

        <div class="desktop750" *ngIf="isDesktopSize">
            <div class="menu-links-desktop">
                <a href="#about-me">{{'NAVBAR.ABOUT-ME' | translate}}</a>
                <a href="#skills">{{'NAVBAR.SKILLS' | translate}}</a>
                <a href="#project">{{'NAVBAR.PROJECT' | translate}}</a>
            </div>

            <div class="language">
                <a [ngClass]="{'active': currentLanguage === 'de'}" (click)="changeLanguage('de')">DE</a>
                <div class="seperator"></div>
                <a [ngClass]="{'active': currentLanguage === 'en'}" (click)="changeLanguage('en')">EN</a>
            </div>
        </div>

        <div id="menu" *ngIf="!isMenuActive && !isDesktopSize" (click)="toggleMenu()">
            <img src="./../../assets/img/menu.svg" alt="menu">
        </div>

        <div class="closemenu" *ngIf="isMenuActive && !isDesktopSize" (click)="toggleMenu()">
            <span class="close">X</span>
        </div>
    </div>
</nav>

<div class="mobile-menu" [class.active]="isMenuActive">
    <a class="mobile-link" (click)="toggleMenu('about-me')">{{'NAVBAR.ABOUT-ME' | translate}}</a>
    <a class="mobile-link" (click)="toggleMenu('skills')">{{'NAVBAR.SKILLS' | translate}}</a>
    <a class="mobile-link" (click)="toggleMenu('project')">{{'NAVBAR.PROJECT' | translate}}</a>
    <a class="mobile-link" [ngClass]="{'active': currentLanguage === 'de'}" (click)="changeLanguage('de')">DE</a>
    <a class="mobile-link" [ngClass]="{'active': currentLanguage === 'en'}" (click)="changeLanguage('en')">EN</a>
</div>