@import './../../styles.scss';

nav {
    position: fixed;
    width: 100%;
    border-bottom: 2px solid $bg1-light;
    z-index: 3;
    @include dFlex ($jc: center, $ai: center, $g: 2rem);
    background-color: $bg1;
}

.nav-container {
    width: 100%;
    max-width: 1300px;
    height: 3rem;
    @include dFlex ($jc: space-between, $ai: center, $g: 2rem);
    padding: 1rem;

    >a {
        font-family: 'CutiveMono', Arial, Helvetica, sans-serif;
        color: $main-color1;
        font-size: 1.5rem;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 17px;
            text-decoration-thickness: 1px;
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.mobile-menu.active {
    position: fixed;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: $bg1;
    @include dFlex ($jc: center, $ai: center, $g: 2rem);
    flex-direction: column;

    >a {
        font-size: 3rem;
        cursor: pointer;

        &:hover {
            color: $main-color1;
        }
    }
}

.mobile-menu {
    display: none;
}

.close {
    color: $main-color1;
    font-size: 2rem;
}

.closemenu {
    padding-right: 0.5rem;
}

.desktop750 {
    @include dFlex ($jc: center, $ai: center, $g: 2rem);
}

.menu-links-desktop {
    @include dFlex ($jc: center, $ai: center, $g: 1.5rem);

    >a {
        font-family: 'CutiveMono', Arial, Helvetica, sans-serif;
        font-size: 1.20rem;

        &:hover {

            color: $main-color1;
            text-decoration: underline;
            text-underline-offset: 17px;
            text-decoration-thickness: 1px;
        }
    }

}

.language {
    @include dFlex ($jc: center, $ai: center, $g: 0.5rem);
    font-size: 1rem;

    >a {
        &:hover {

            color: $main-color1;
            text-decoration: underline;
            text-underline-offset: 17px;
            text-decoration-thickness: 1px;
        }
    }

    >.seperator {
        height: 1rem;
        width: 2px;
        background-color: $bg1-light;
    }
}