@import './../../../styles.scss';

section {
    height: 100%;
    background-image: url(./../../../assets/img/background-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bg1;
    @include dFlex ($jc: center, $ai: center, $g: 0rem);
    flex-direction: column;

    text-align: center;
}

.overlay {
    height: 100%;
    width: 100%;
    padding: 5rem 2rem;
    background-color: rgba(52, 60, 69, 0.9);
    @include dFlex ($jc: center, $ai: center, $g: 0rem);
    top: 0;
    left: 0;
}

.skill-container {
    max-width: 1300px;
    @include dFlex ($jc: flex-start, $ai: center, $g: 2rem);
    flex-direction: column;
}

.skill-list {
    @include dFlex ($jc: center, $ai: center, $g: 1.5rem);
    flex-wrap: wrap;
    padding-bottom: 1rem;

    >div {
        @include dFlex ($jc: center, $ai: center, $g: 0.5rem);
        flex-direction: column;
    }
}

h1 {
    font-weight: 500;
    font-size: 3.25rem;
    padding: 0rem 1rem;
    color: $main-color1;
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-thickness: 3px;
}

@media (min-width: 750px) {
    .skill-container {
        @include dFlex ($jc: flex-start, $ai: center, $g: 3rem);
    }

    .skill-list {
        @include dFlex ($jc: center, $ai: center, $g: 3rem);
        font-size: 1.5rem;
    }

    img {
        height: 80px;
    }

    p {
        font-size: 1.5rem;
    }
}

@media (min-width: 400px) {
    h1 {
        font-size: 4rem !important;
    }

}