<section id="skills">
    <div ngClass="overlay">
        <div class="skill-container">
            <h1>{{'SKILLS.H1' | translate}}</h1>
            <p>{{'SKILLS.TEXT' | translate}}</p>
            <div ngClass="skill-list">
                <div><img src="./../../../assets/img/html.svg" alt="html">HTML</div>
                <div><img src="./../../../assets/img/css.svg" alt="css">CSS</div>
                <div><img src="./../../../assets/img/JavScript.svg" alt="JavScript">JavScript</div>
                <div><img src="./../../../assets/img/Typescript.svg" alt="Typescript">Typescript</div>
                <div><img src="./../../../assets/img/Angular.svg" alt="Angular">Angular</div>
                <div><img src="./../../../assets/img/Api.svg" alt="Api">REST-API</div>
                <div><img src="./../../../assets/img/git.svg" alt="git">GIT</div>
                <div><img src="./../../../assets/img/Scrum.svg" alt="Scrum">Scrum</div>
            </div>
        </div>
    </div>
</section>