<div class="contact-component" id="contact">
    <h1>{{'CONTACT.H1' | translate}}</h1>
    <div class="contact-contaniner">
        <div class="contact-info">
            <div>
                <h2>{{'CONTACT.TEXT1' | translate}} <span>{{'INTRO.TEXT' | translate}}?</span><br>
                    <br>
                    {{'CONTACT.TEXT2' | translate}}
                </h2>
            </div>

            <div>
                <span class="sendMessage" *ngIf="messageSend">{{'CONTACT.MESSAGE-SEND' | translate}}</span> <!--  -->
            </div>
        </div>
        <div class="form-container">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <label for="name">Name</label>
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                    placeholder="{{'CONTACT.YOUR-NAME' | translate}}" required minlength="2">
                @if (!name.valid && name.touched) {
                <span class="warning">{{'CONTACT.NAME-WARNING' | translate}}</span>
                }

                <label for="email">E-mail</label>
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                    placeholder="{{'CONTACT.YOUR-MAIL' | translate}}" required
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                @if (!email.valid && email.touched) {
                <span class="warning">{{'CONTACT.MEIL-WARNING' | translate}}</span>
                }

                <label for="message">{{'CONTACT.MESSAGE' | translate}}</label><!--Subject-->
                <textarea #message="ngModel" minlength="5" [(ngModel)]="contactData.message" id="message" name="message"
                    placeholder="{{'CONTACT.YOUR-MESSAGE' | translate}}" style="height:200px" required></textarea>
                @if (!message.valid && message.touched) {
                <span class="warning">{{'CONTACT.MESSAGE-WARNING' | translate}}</span>
                }
                <div class="privacy-container">
                    <input #checkbox="ngModel" ngModel type="checkbox" name="privacy-policies" id="privacy-policies"
                        required>
                    <label for="privacy-policies">{{'CONTACT.PRIVACY-TEXT' | translate}} 
                        <a (click)="disable(true)" routerLink="/datenschutz">{{'CONTACT.PRIVACY' | translate}}</a>
                    </label>
                </div>
                <span class="warning"
                    *ngIf="checkbox.invalid && email.valid && name.valid && message.valid">{{'CONTACT.PRIVACY-WARNIG' |
                    translate}}</span>

                <button type="submit" value="submit" class="submit" #submit="ngModel" ngModel> {{'CONTACT.SEND' |
                    translate}} </button>
            </form>
        </div>
    </div>
    <div class="up"><a href="#start"><img src="assets/img/arrow_upward.svg" alt="arrow up"></a></div>
</div>