<section id="about-me">
    <div class="about-me">
        <h1>{{'ABOUT-ME.H1' | translate}}</h1>
        <div>
            {{'ABOUT-ME.TEXT1' | translate}} <span>JavaScript</span>, <span>TypeScript</span> {{'ABOUT-ME.TEXT1.2' | translate}}
            <span>Angular</span>. {{'ABOUT-ME.TEXT1.3' | translate}} <br>
            <br>
            {{'ABOUT-ME.TEXT2' | translate}} <br>
            <br>
            {{'ABOUT-ME.TEXT3' | translate}} <span>{{'ABOUT-ME.TEXT3.2' | translate}}</span> {{'ABOUT-ME.TEXT3.3' | translate}} <span>{{'ABOUT-ME.TEXT3.4' | translate}}</span>{{'ABOUT-ME.TEXT3.5' | translate}} <br>
        </div>
    </div>
</section>