<section id="about-me">
    <h1>Über mich</h1>
    <div>
        Ich bin Frontend-Entwicklerin mit Erfahrung in <span>JavaScript</span>, <span>TypeScript</span> und <span>Angular</span>. Ich liebe es,
        moderne Webanwendungen zu entwickeln, die benutzerfreundlich und leistungsstark sind. <br>
        <br>
        Ich habe an einigen Projekten gearbeitet, sowohl individuell als auch im Team. Diese Erfahrungen haben mir
        ermöglicht, meine Fähigkeiten zu verfeinern und kreative Lösungen zu entwickeln. <br>
        <br>
        Die Entscheidung, mich auf die Anwendungsentwicklung zu konzentrieren, war bewusst und aus meiner Freude am
        Coden und dem <span>Lösen von Problemen</span> getroffen. Es erfüllt mich, komplexe Herausforderungen zu meistern und
        großartige Nutzererlebnisse zu schaffen. Einige dieser <span>Projekte</span> präsentiere ich hier in meinem Portfolio. <br>
    </div>
</section>