<div ngClass="intro-container" id="start">
    <section>
        <div ngClass="info-box">
            <img src="./assets/img/Bewerbungs bild.jpg" alt="">
            <div class="name">
                <h1>Alice</h1>
                <p>Frontend-Entwicklerin</p>
            </div>

            <div ngClass="info-box-bottom">
                <div><img src="./assets/img/location.svg" alt="">
                    <p>Deutschland</p>
                </div>
                <div><img src="./assets/img/link.svg" alt=""> <a href="https://github.com/05Lucia">Github</a></div>
                <div><img src="./assets/img/link.svg" alt=""> <a
                        href="https://www.linkedin.com/in/alice-buchholz-91804a226/">Linkedin</a></div>

                <div ngClass="languages">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JS</p>
                    <p>Angular</p>
                </div>
            </div>
        </div>
        <div ngClass="interduction">
            <h1>Hallo </h1>
            <h1> Ich bin <div>Alice Buchholz</div>
            </h1>
            <h2>> Frontend-Entwicklerin</h2>
            <br>
            <a class="bto1" href="#contact">Schreiben sie mir! <img src="./assets/img/mail.svg" alt=""></a>
        </div>
    </section>
</div>