<section>
    <div class='impressum'>
        <h1>{{'IMPRINT.H1' | translate}}</h1>
        <div class="contact-info">
            <p>{{'IMPRINT.TEXT1' | translate}}</p>
            <p>Alice Buchholz <br>
                Neuenbrookerweg 28<br>
                24250 Warnau <br>
            </p>
            <p> <strong>{{'IMPRINT.TEXT2' | translate}} </strong><br>
                Alice Buchholz<br>
            </p>
            <p><strong>{{'IMPRINT.CONTACT' | translate}}</strong> <br>
                {{'IMPRINT.PHONE' | translate}} +49 1573 7293791<br>
                E-Mail: <a href='mailto:alice.buchholz@gmail.com'>alice.buchholz&#64;gmail.com</a>
                <br>
            </p>
        </div>
        <p>
            <strong>{{'IMPRINT.H2' | translate}}</strong>
            <br><br><strong>{{'IMPRINT.LINKS' | translate}}</strong>
            <br>
            {{'IMPRINT.TEXT3' | translate}}<br><br>
            <strong>{{'IMPRINT.PRIVACY' | translate}}</strong>
            <br>
            {{'IMPRINT.TEXT4' | translate}}<br>
        </p>

        <div>
            {{'IMPRINT.FOOT-NOTES1' | translate}}
            <a href="https://www.impressum-generator.de">impressum-generator.de</a>
            {{'IMPRINT.FOOT-NOTES2' | translate}}
            <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
        </div>

        <div>{{'IMPRINT.FOOT-NOTES3' | translate}}
            <a
                href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1873831">Pixabay</a>
            <br>
            {{'IMPRINT.FOOT-NOTES4' | translate}}
            <a target="_blank" href="https://icons8.com"> Icons8</a>
        </div>
    </div>
    <div>

    </div>
</section>