@import './../../styles.scss';

section {
    @include dFlex ($jc: center, $ai: center, $g: 0rem); 
    padding: 2rem;
}

.impressum {
    max-width: 1300px;
    padding-top: 4rem;
    height: 87.5vh;
    @include dFlex ($jc: flex-start, $ai: flex-start, $g: 1rem);
    flex-direction: column;
}

.contact-info {
    @include dFlex ($jc: space-between, $ai: flex-start, $g: 1rem);
    flex-direction: column;
}

a {
    color: $main-color1;
}  

h1 {
    font-weight: 500;
    font-size: 3rem;
    color: $main-color1;
    font-weight: 700;
}