/* You can add global styles to this file, and also import other style files */
$bg1: #343c45;
$bg1-light: #4f5b69;
$bg2: #191d21;
$main-color1: #27f8c4;
$main-color2: #aaf8de;
$gray: #45474c;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;

}

*::-webkit-scrollbar-thumb {
    background-color: $main-color2;
    border-radius: 5px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $bg2 inset !important;
    -webkit-text-fill-color: #ffffff;
}

a {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
        url('./assets/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'CutiveMono';
    src: url('./assets/fonts/CutiveMono-Regular.ttf') format('truetype');
}

body {
    background-color: $bg1;
    color: white;
}

@mixin dFlex ($jc: center, $ai: center, $g: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

.bto1 {
    @include dFlex ($jc: center, $ai: center, $g: 16px);
    font-size: 24px;
    color: white;
    background-color: transparent;
    border: 2px solid $main-color1;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: $bg1-light;
        transform: scale(1.125);
    }
}

.d-none {
    display: none;
}

.no-scroll {
    overflow: hidden;
}
